<div class="container">
    <div class="form-section">
        <h1 class="form-title">Register</h1>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)" class="form-group">
            <div class="form-item">
                <label class="form-control">
                    <div class="label-name">
                        Username<span class="asterisk">&nbsp;*</span>
                    </div>
                    <input formControlName="Username" class="form-input" placeholder="Enter first name " name="firstName"
                    [ngClass]="myForm.getError('invalidform')?'form-invalid':'form-valid'">
                </label>
                <!-- <div class="error-message">
                    <p *ngIf="myForm.get('FirstName')?.invalid && (myForm.get('FirstName')?.dirty || myForm.get('FirstName')?.touched|| myForm.getError('invalidform'))">
                        *Please enter username
                    </p>
                </div> -->
            </div>
            <div class="form-item">
                <label class="form-control">
                    <div class="label-name">
                        Email<span class="asterisk">&nbsp;*</span>
                    </div>
                    <input formControlName="EmailAddress" type="email" class="form-input" placeholder="Enter email address" name="emailAddress" [ngClass]="myForm.getError('invalidform')?'form-invalid':'form-valid'">
                </label>
                <!-- <div class="error-message">
                    <p *ngIf="myForm.get('EmailAddress')?.errors?.['required'] && (myForm.get('EmailAddress')?.dirty || myForm.get('EmailAddress')?.touched || myForm.getError('invalidform'))" >
                        *Please enter email address
                    </p>
                    <p *ngIf="validEmail">
                        *Please enter a valid email
                    </p>
                </div> -->
            </div>
            <div class="form-item">
                <label class="form-control">
                    <div class="label-name">
                        Password<span class="asterisk">&nbsp;*</span>
                    </div>
                    <input formControlName="Password" class="form-input" type="password" name="password" placeholder="Enter Password" [ngClass]="myForm.getError('invalidform')?'form-invalid':'form-valid'">
                </label>
                <!-- <div class="error-message">
                    <p *ngIf="myForm.get('Password')?.invalid  && (myForm.get('Password')?.dirty || myForm.get('Password')?.touched|| myForm.getError('invalidform'))">
                        *Please enter Password
                    </p>
                </div> -->
            </div>
            <div class="form-item">
                <label class="form-control">
                    <div class="label-name">
                        Register as<span class="asterisk">&nbsp;*</span>
                    </div>
                    <select formControlName="Role">
                        <option value="faculty">Faculty</option>
                        <option value="student">Student</option>
                    </select>
                </label>
            </div>
            <div class="form-item">
                <label class="form-control">
                    <div class="label-name">
                        Photo<span class="asterisk">&nbsp;*</span>
                    </div>
                    <div class="photo-btns">
                        <button type="button" class="take-photo-btn"><a href="http://localhost:3000/" target="_blank">Take Photo</a></button>
                        <!-- <button type="button" class="take-photo-btn">Submit Photo</button> -->
                    </div>
                </label>
            </div>
            <button type="submit" class="signup-btn">Register</button>
            <!-- <div class="form-item">
                <div class="error-message">
                    <p *ngIf="myForm.getError('invalidform')">*Please enter all the required fields</p>
                </div>
            </div> -->
        </form>
    </div>
</div>
