<div class="container">
    <div class="form-section">
        <h1 class="form-title">Register</h1>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)" class="form-group">
            <div class="form-item">
                <label class="form-control">
                    <div class="label-name">
                        Username<span class="asterisk">&nbsp;*</span>
                    </div>
                    <input formControlName="Username" class="form-input" placeholder="Enter first name " name="firstName"
                    [ngClass]="myForm.getError('invalidform')?'form-invalid':'form-valid'">
                </label>
            </div>
            <div class="form-item">
                <label class="form-control">
                    <div class="label-name">
                        Email<span class="asterisk">&nbsp;*</span>
                    </div>
                    <input formControlName="EmailAddress" type="email" class="form-input" placeholder="Enter email address" name="emailAddress" [ngClass]="myForm.getError('invalidform')?'form-invalid':'form-valid'">
                </label>
            </div>
            <div class="form-item">
                <label class="form-control">
                    <div class="label-name">
                        Password<span class="asterisk">&nbsp;*</span>
                    </div>
                    <input formControlName="Password" class="form-input" type="password" name="password" placeholder="Enter Password" [ngClass]="myForm.getError('invalidform')?'form-invalid':'form-valid'">
                </label>
            </div>
            <div class="form-item">
                <label class="form-control">
                    <div class="label-name">
                        Register as<span class="asterisk">&nbsp;*</span>
                    </div>
                    <select formControlName="Role">
                        <option value="faculty">Faculty</option>
                        <option value="student">Student</option>
                    </select>
                </label>
            </div>
            <div class="form-item">
                <label class="form-control">
                    <div class="label-name">
                        Photo<span class="asterisk">&nbsp;*</span>
                    </div>
                    <div class="photo-btns">
                        <button type="button" class="take-photo-btn"><a href="http://localhost:3000?is_registration=true&username={{myForm.get('Username')?.value}}" target="_blank">Take Photo</a></button>
                    </div>
                </label>
            </div>
            <button type="submit" class="signup-btn">Register</button>
        </form>
    </div>
</div>
