<div class="parent">
    <div class="first">
        <div class="profile">
            <app-student-profile-card></app-student-profile-card>
        </div>
        <div class="attendance">
            <div class="stats">
                <!-- <div class="weekly">
                    <p>Weekly Attendance</p>
                    <div id="weekly-chart"></div>
                </div> -->
                <div class="today">
                    <p>Today's Attendance</p>
                    <div class="today-stat">
                        <table class="list">
                            <tr>
                                <th>Subject</th>
                                <td>Attended</td>
                            </tr>
                            <tr *ngFor="let myAtt of myAttendance">
                                <th>{{myAtt.class_name}}</th>
                                <td>{{myAtt.is_attended}}</td>
                            </tr>
                            <!-- <tr>
                                <th>{{myAtt}}</th>
                                <td>{{myAtt}}</td>
                            </tr>
                            <tr>
                                <th>{{myAtt}}</th>
                                <td>{{myAtt}}</td>
                            </tr> -->
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="second">
        <div class="tbl-links">
            <table class="list">
                <tbody>
                    <tr>
                        <!-- <th>S.No</th> -->
                        <th>Subject</th>
                        <th>Starts At</th>
                        <th>Ends At</th>
                        <th>Joining Attendance</th>
                        <th>Leaving Attendance</th>
                        <th>Meeting Link</th>
                    </tr>
                    <tr *ngFor="let class of classes">
                        <!-- <td> index + 1</td> -->
                        <td>{{ class.class_name }}</td>
                        <td>{{ class.start_time }}</td>
                        <td>{{ class.end_time }}</td>
                        <td>
                            <button><a href="http://localhost:3000?is_registration=false&username={{user.username}}&user_id={{user.user_id}}&class_id={{class.class_id}}&is_joining=true" target="_blank">Joining Attendance</a></button>
                        </td>
                        <td>
                            <button><a href="http://localhost:3000?is_registration=false&username={{user.username}}&user_id={{user.user_id}}&class_id={{class.class_id}}&is_joining=false" target="_blank">Leaving Attendance</a></button>
                        </td>
                        <td>
                            <button><a #meetLink class="meet-link" [href]="class.meeting_link" target="_blank">LINK</a></button>
                        </td>
                    </tr>
                    <!-- <tr>
                        <td>2</td>
                        <td>NLP</td>
                        <td>10:00 AM</td>
                        <td>
                            <button>Give Attendance</button>
                        </td>
                        <td>
                            <button>LINK</button>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>NLP</td>
                        <td>10:00 AM</td>
                        <td>
                            <button>Give Attendance</button>
                        </td>
                        <td>
                            <button>LINK</button>
                        </td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
</div>
