<!-- <div class="container">
    <div class="profile-container">
        <div class="profile">

        </div>
        <div class="attendance">
            <div class="attendance-stats">
                <div class="weekly-attendance">
                    <p>Weekly Attendance</p>
                    <div id="weekly-chart"></div>
                </div>
                <div class="today-attendance">
                    <p>Today's Attendance</p>
                    <div class="today-stats">
                        <table class="attendance-list">
                            <tr>
                                <th>NLP</th> 
                                <td>Attended</td> 
                            </tr>
                            <tr>
                                <th>MM</th>  
                                <td>N/A</td>
                            </tr>
                            <tr>
                                <th>BDA</th>  
                                <td>N/A</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="links-container">
        <div class="links">
            <table class="links-table">
                <tbody>
                    <tr>
                        <th>S.No</th>
                        <th>Subject</th>
                        <th>Starts At</th>
                        <th>Take Snap</th>
                        <th>Meeting Link</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>NLP</td>
                        <td>10:00 AM</td>
                        <td>
                            <button>Give Attendance</button>
                        </td>
                        <td>
                            <button>LINK</button>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>NLP</td>
                        <td>10:00 AM</td>
                        <td>
                            <button>Give Attendance</button>
                        </td>
                        <td>
                            <button>LINK</button>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>NLP</td>
                        <td>10:00 AM</td>
                        <td>
                            <button>Give Attendance</button>
                        </td>
                        <td>
                            <button>LINK</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> -->


<div class="parent">
    <div class="first">
        <div class="profile">
            <app-student-profile-card></app-student-profile-card>
        </div>
        <div class="attendance">
            <div class="stats">
                <div class="weekly">
                    <p>Weekly Attendance</p>
                    <div id="weekly-chart"></div>
                </div>
                <div class="today">
                    <p>Today's Attendance</p>
                    <div class="today-stat">
                        <table class="list">
                            <tr>
                                <th>NLP</th>
                                <td>Attended</td>
                            </tr>
                            <tr>
                                <th>MM</th>
                                <td>N/A</td>
                            </tr>
                            <tr>
                                <th>BDA</th>
                                <td>N/A</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="second">
        <div class="tbl-links">
            <table class="list">
                <tbody>
                    <tr>
                        <th>S.No</th>
                        <th>Subject</th>
                        <th>Starts At</th>
                        <th>Take Snap</th>
                        <th>Meeting Link</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>NLP</td>
                        <td>10:00 AM</td>
                        <td>
                            <button>Give Attendance</button>
                        </td>
                        <td>
                            <button>LINK</button>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>NLP</td>
                        <td>10:00 AM</td>
                        <td>
                            <button>Give Attendance</button>
                        </td>
                        <td>
                            <button>LINK</button>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>NLP</td>
                        <td>10:00 AM</td>
                        <td>
                            <button>Give Attendance</button>
                        </td>
                        <td>
                            <button>LINK</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
