<!-- <div class="card-container">
    <div class="card-body">
        <div class="person-details">
            <img src="../../../assets/Images/user.jpg" alt="student_picture">
            <p class="person-name">18H51A05Z1</p>
        </div>
        <div class="college-details">
            <div class="branch">
                <p>Branch</p>
                <p>CSE</p>
            </div>
            <div class="line"></div>
            <div class="section">
                <p>Section</p>
                <p>Z</p>
            </div>
        </div>
    </div>
</div> -->

<div class="card">
    <div class="person">
        <img src="../../../assets/Images/user.jpg" alt="student_picture">
        <p>18H51A05Z1</p>
    </div>
    <div class="follow">
        <div class="f1">
            <p>Branch</p>
            <p>CSE</p>
        </div>
        <div class="line"></div>
        <div class="f2">
            <p>Section</p>
            <p>Z</p>
        </div>
    </div>
</div>
