<div class="container">
    <div class="left-container">
        <div class="title">
            <h2>Attendance</h2>
            <h2>Tracker</h2>
            <h2>Portal</h2>
        </div>
    </div>
    <div class="right-container">
        <div class="inner-right-container">
            <form class="form-class" [formGroup]="signInForm" (ngSubmit)="onSubmit(signInForm)">
                <div class="sign-in">
                    <h1>Login</h1>
                </div>
                <div class="input-label">
                    <label class="label" for="email">Email<span class="star">&nbsp;*</span> :</label>
                    <input type="text" class="input-field" formControlName="email" name="email" placeholder="Enter your email">
                    <!-- <div class="required" *ngIf="signInForm.get('email')?.invalid && (signInForm.get('email')?.dirty || signInForm.get('email')?.touched)">
                        <p>*Please provide valid Email</p>
                    </div> -->
                </div>
                <div class="input-label">
                    <label class="label" for="email">Password<span class="star">&nbsp;*</span> :</label>
                    <input type="password" class="input-field" formControlName="password" name="password" placeholder="Enter your Password">
                    <!-- <div class="required" *ngIf="signInForm.get('password')?.invalid && (signInForm.get('password')?.dirty || signInForm.get('password')?.touched)">
                        <p>*Please enter password</p>
                    </div> -->
                </div>
                <button type="submit" class="submit">Login</button>
                <div class="forget">
                    <!-- <div class="forgotPassword"><a routerLink="/ForgotPassword">Forgot Password?</a></div> -->
                    <div class="sign-up">Don't have an account? <a routerLink="/signup">Sign Up</a></div>
                </div>
            </form>
        </div>
    </div>
</div>
