*{
  padding: 0;
  margin: 0;
  font-family: Calibri;
}

body{
  background: #dfdfde;
  width: 100vw;
  height: 100vh;
}

p {
  text-align: center;
  padding: 5px;
}

.parent{
  width: 100vw;
  height: 100vh;
}

.first{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.second{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.first > p, .second > p{
  display: flex;
  align-self: flex-start;
  padding-left: 4%;
  font-weight: 600;
  font-size: 20px;
}

.set-date{
  display: flex;
  align-self: flex-start;
  padding: 4% 0% 0% 4%;
  font-weight: 600;
}


table{
  text-align: center;
}

th,td,tr{
  padding: 10px;
}

.tbl-links{
  width: calc(90% + 30px);
  padding: 20px;
}

.list{
  width: 100%;
  border: 1px solid rgb(226, 226, 226);
}

.list > th,td{
  padding: 10px;
  border: none;
}

.list tr:nth-child(odd){
  background-color: white;
}

.list tr:nth-child(even){
  background-color: #ededed;
}

.list tr:not(:first-child):hover{
  transform: scale(1.005);
  font-weight: 600;
}

.first .list > tbody > tr > td:nth-child(4) > button{
  background: rgb(63, 159, 243);
  padding: 10px 25px 10px 25px;
  color: white;
  font-weight: 600;
  border-radius: 7px;
  border: none;
}


.second .list > tbody > tr > td:nth-child(4) > button{
  background: rgb(7, 182, 7);
  padding: 10px;
  color: white;
  font-weight: 600;
  border-radius: 7px;
  border: none;
}


.list > tbody > tr > td:nth-child(3) > button:hover, .list > tbody > tr > td:nth-child(4) > button:hover{
  cursor: pointer;
}


[modal-body] > .tbl-links{
  padding: 10px;
}
 
